<a href="https://colab.research.google.com/github/vasanth233/Banking_SQL-project/blob/main/Banking_SQL_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!apt-get install sqlite3
!pip install pandas

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
sqlite3 is already the newest version (3.37.2-2ubuntu0.5).
0 upgraded, 0 newly installed, 0 to remove and 41 not upgraded.
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import sqlite3
import pandas as pd
import os

In [ ]:
conn = sqlite3.connect("my_database.db")

In [ ]:
#define the correct path for database
db_path="/content/drive/MyDrive/db/my_database.db"

In [ ]:

db_folder="/content/drive/MyDrive/db"
os.makedirs(  db_folder, exist_ok=True) #ensures the folder exits
db_path=os.path.join(db_folder,"my_database.db")

conn = sqlite3.connect(db_path)
cursor = conn.cursor()
print("Database connected at:", db_path)

Database connected at: /content/drive/MyDrive/db/my_database.db

**customer table**

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS BANK_CUSTOMER ( customer_id INT ,
             	customer_name VARCHAR(20),
             	Address 	VARCHAR(20),
             	state_code  VARCHAR(3) ,
             	Telephone   VARCHAR(10)	);

''')
conn.commit()

In [ ]:
def insert_CUSTOMER (customer_id,customer_name,Address,state_code,Telephone):
    cursor.execute("INSERT INTO CUSTOMER (customer_id,customer_name,Address,state_code,Telephone) VALUES (?,?, ?, ?,?)", (customer_id,customer_name,Address,state_code,Telephone))
    conn.commit()

In [ ]:
# Insert
data = [
    (123001,"Oliver", "225-5, Emeryville", "CA" , "1897614500"),
    (123002,"George", "194-6,New brighton","MN" , "1897617000"),
    (123003,"Harry", "2909-5,walnut creek","CA" , "1897617866"),
    (123004,"Jack", "229-5, Concord","CA" , "1897627999"),
    (123005,"Jacob", "325-7, Mission Dist","SFO", "1897637000"),
    (123006,"Noah", "275-9, saint-paul" , "MN" , "1897613200"),
    (123007,"Charlie","125-1,Richfield","MN" , "1897617666"),
    (123008,"Robin","3005-1,Heathrow","NY" , "1897614000")
]

cursor.executemany("INSERT INTO BANK_CUSTOMER VALUES (?, ?, ?, ?, ?)", data)
conn.commit()

In [ ]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM CUSTOMER ")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+-----------------+-----------+--------------+-------------+
| customer_id   | customer_name   | Address   | state_code   | Telephone   |
+===============+=================+===========+==============+=============+
+---------------+-----------------+-----------+--------------+-------------+

**Bank_Customer_export**

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS BANK_CUSTOMER_EXPORT (
    customer_id CHAR(10),
    customer_name CHAR(20),
    Address CHAR(20),
    state_code CHAR(3),
    Telephone CHAR(10)
);
''')

conn.commit()
print("BANK_CUSTOMER_EXPORT created successfully.")

BANK_CUSTOMER_EXPORT created successfully.

In [ ]:
cursor.executescript("""
CREATE TABLE IF NOT EXISTS Bank_Account_Details (
    customer_id INTEGER,
    account_number TEXT,
    account_type TEXT,
    balance INTEGER,
    status TEXT,
    account_priority TEXT
);

INSERT INTO BANK_CUSTOMER_EXPORT VALUES ('123001 ','Oliver', '225-5, Emeryville', 'CA' , '1897614500');
INSERT INTO BANK_CUSTOMER_EXPORT VALUES ('123002 ','George', '194-6,New brighton','MN' , '189761700');

INSERT INTO Bank_Account_Details VALUES (123001, '4000-1956-3456',  'SAVINGS' , 200000 ,'ACTIVE','P');
INSERT INTO Bank_Account_Details VALUES (123001, '5000-1700-3456', 'RECURRING DEPOSITS' ,9400000 ,'ACTIVE','S');
INSERT INTO Bank_Account_Details VALUES (123002, '4000-1956-2001',  'SAVINGS', 400000 ,'ACTIVE','P');
INSERT INTO Bank_Account_Details VALUES (123002, '5000-1700-5001',  'RECURRING DEPOSITS' ,7500000 ,'ACTIVE','S');
INSERT INTO Bank_Account_Details VALUES (123003, '4000-1956-2900',  'SAVINGS' ,750000,'INACTIVE','P');
INSERT INTO Bank_Account_Details VALUES (123004, '5000-1700-6091', 'RECURRING DEPOSITS' ,7500000 ,'ACTIVE','S');
INSERT INTO Bank_Account_Details VALUES (123004, '4000-1956-3401',  'SAVINGS' , 655000 ,'ACTIVE','P');
INSERT INTO Bank_Account_Details VALUES (123005, '4000-1956-5102',  'SAVINGS' , 300000 ,'ACTIVE','P');
INSERT INTO Bank_Account_Details VALUES (123006, '4000-1956-5698',  'SAVINGS' , 455000 ,'ACTIVE','P');
INSERT INTO Bank_Account_Details VALUES (123007, '5000-1700-9800',  'SAVINGS' , 355000 ,'ACTIVE','P');
INSERT INTO Bank_Account_Details VALUES (123007, '4000-1956-9977',  'RECURRING DEPOSITS' , 7025000,'ACTIVE','S');
INSERT INTO Bank_Account_Details VALUES (123007, '9000-1700-7777-4321',  'Credit Card',0,'INACTIVE','P');
INSERT INTO Bank_Account_Details VALUES (123007, '5900-1900-9877-5543', 'Add-on Credit Card',0,'ACTIVE','S');
INSERT INTO Bank_Account_Details VALUES (123008, '5000-1700-7755',  'SAVINGS',0,'INACTIVE','P');
INSERT INTO Bank_Account_Details VALUES (123006, '5800-1700-9800-7755', 'Credit Card',0,'ACTIVE','P');
INSERT INTO Bank_Account_Details VALUES (123006, '5890-1970-7706-8912', 'Add-on Credit Card',0,'ACTIVE','S');
""")

conn.commit()
print("Data inserted successfully!")

Data inserted successfully!

**verifying the data**

In [ ]:
cursor.execute("SELECT * FROM BANK_CUSTOMER_EXPORT;")
print(cursor.fetchall())

cursor.execute("SELECT * FROM Bank_Account_Details;")
print(cursor.fetchall())

[('123001 ', 'Oliver', '225-5, Emeryville', 'CA', '1897614500'), ('123002 ', 'George', '194-6,New brighton', 'MN', '189761700'), ('123001 ', 'Oliver', '225-5, Emeryville', 'CA', '1897614500'), ('123002 ', 'George', '194-6,New brighton', 'MN', '189761700'), ('123001 ', 'Oliver', '225-5, Emeryville', 'CA', '1897614500'), ('123002 ', 'George', '194-6,New brighton', 'MN', '189761700'), ('123001 ', 'Oliver', '225-5, Emeryville', 'CA', '1897614500'), ('123002 ', 'George', '194-6,New brighton', 'MN', '189761700')]
[(123001, '4000-1956-3456', 'SAVINGS', 200000, 'ACTIVE', 'P'), (123001, '5000-1700-3456', 'RECURRING DEPOSITS', 9400000, 'ACTIVE', 'S'), (123002, '4000-1956-2001', 'SAVINGS', 400000, 'ACTIVE', 'P'), (123002, '5000-1700-5001', 'RECURRING DEPOSITS', 7500000, 'ACTIVE', 'S'), (123003, '4000-1956-2900', 'SAVINGS', 750000, 'INACTIVE', 'P'), (123004, '5000-1700-6091', 'RECURRING DEPOSITS', 7500000, 'ACTIVE', 'S'), (123004, '4000-1956-3401', 'SAVINGS', 655000, 'ACTIVE', 'P'), (123005, '4000-1956-5102', 'SAVINGS', 300000, 'ACTIVE', 'P'), (123006, '4000-1956-5698', 'SAVINGS', 455000, 'ACTIVE', 'P'), (123007, '5000-1700-9800', 'SAVINGS', 355000, 'ACTIVE', 'P'), (123007, '4000-1956-9977', 'RECURRING DEPOSITS', 7025000, 'ACTIVE', 'S'), (123007, '9000-1700-7777-4321', 'Credit Card', 0, 'INACTIVE', 'P'), (123007, '5900-1900-9877-5543', 'Add-on Credit Card', 0, 'ACTIVE', 'S'), (123008, '5000-1700-7755', 'SAVINGS', 0, 'INACTIVE', 'P'), (123006, '5800-1700-9800-7755', 'Credit Card', 0, 'ACTIVE', 'P'), (123006, '5890-1970-7706-8912', 'Add-on Credit Card', 0, 'ACTIVE', 'S'), (123001, '4000-1956-3456', 'SAVINGS', 200000, 'ACTIVE', 'P'), (123001, '5000-1700-3456', 'RECURRING DEPOSITS', 9400000, 'ACTIVE', 'S'), (123002, '4000-1956-2001', 'SAVINGS', 400000, 'ACTIVE', 'P'), (123002, '5000-1700-5001', 'RECURRING DEPOSITS', 7500000, 'ACTIVE', 'S'), (123003, '4000-1956-2900', 'SAVINGS', 750000, 'INACTIVE', 'P'), (123004, '5000-1700-6091', 'RECURRING DEPOSITS', 7500000, 'ACTIVE', 'S'), (123004, '4000-1956-3401', 'SAVINGS', 655000, 'ACTIVE', 'P'), (123005, '4000-1956-5102', 'SAVINGS', 300000, 'ACTIVE', 'P'), (123006, '4000-1956-5698', 'SAVINGS', 455000, 'ACTIVE', 'P'), (123007, '5000-1700-9800', 'SAVINGS', 355000, 'ACTIVE', 'P'), (123007, '4000-1956-9977', 'RECURRING DEPOSITS', 7025000, 'ACTIVE', 'S'), (123007, '9000-1700-7777-4321', 'Credit Card', 0, 'INACTIVE', 'P'), (123007, '5900-1900-9877-5543', 'Add-on Credit Card', 0, 'ACTIVE', 'S'), (123008, '5000-1700-7755', 'SAVINGS', 0, 'INACTIVE', 'P'), (123006, '5800-1700-9800-7755', 'Credit Card', 0, 'ACTIVE', 'P'), (123006, '5890-1970-7706-8912', 'Add-on Credit Card', 0, 'ACTIVE', 'S'), (123001, '4000-1956-3456', 'SAVINGS', 200000, 'ACTIVE', 'P'), (123001, '5000-1700-3456', 'RECURRING DEPOSITS', 9400000, 'ACTIVE', 'S'), (123002, '4000-1956-2001', 'SAVINGS', 400000, 'ACTIVE', 'P'), (123002, '5000-1700-5001', 'RECURRING DEPOSITS', 7500000, 'ACTIVE', 'S'), (123003, '4000-1956-2900', 'SAVINGS', 750000, 'INACTIVE', 'P'), (123004, '5000-1700-6091', 'RECURRING DEPOSITS', 7500000, 'ACTIVE', 'S'), (123004, '4000-1956-3401', 'SAVINGS', 655000, 'ACTIVE', 'P'), (123005, '4000-1956-5102', 'SAVINGS', 300000, 'ACTIVE', 'P'), (123006, '4000-1956-5698', 'SAVINGS', 455000, 'ACTIVE', 'P'), (123007, '5000-1700-9800', 'SAVINGS', 355000, 'ACTIVE', 'P'), (123007, '4000-1956-9977', 'RECURRING DEPOSITS', 7025000, 'ACTIVE', 'S'), (123007, '9000-1700-7777-4321', 'Credit Card', 0, 'INACTIVE', 'P'), (123007, '5900-1900-9877-5543', 'Add-on Credit Card', 0, 'ACTIVE', 'S'), (123008, '5000-1700-7755', 'SAVINGS', 0, 'INACTIVE', 'P'), (123006, '5800-1700-9800-7755', 'Credit Card', 0, 'ACTIVE', 'P'), (123006, '5890-1970-7706-8912', 'Add-on Credit Card', 0, 'ACTIVE', 'S')]

**Bank Account table**

In [ ]:
cursor.executescript("""
DROP TABLE IF EXISTS BANK_ACCOUNT;

CREATE TABLE BANK_ACCOUNT (
    Customer_id INT,
    Account_Number VARCHAR(19),
    Account_type VARCHAR(25),
    Balance_amount INT,
    Account_status VARCHAR(10),
    Relation_ship VARCHAR(1)
);

INSERT INTO BANK_ACCOUNT VALUES (123001, '4000-1956-3456',  'SAVINGS',             200000, 'ACTIVE','P');
INSERT INTO BANK_ACCOUNT VALUES (123001, '5000-1700-3456',  'RECURRING DEPOSITS', 9400000, 'ACTIVE','S');
INSERT INTO BANK_ACCOUNT VALUES (123002, '4000-1956-2001',  'SAVINGS',             400000, 'ACTIVE','P');
INSERT INTO BANK_ACCOUNT VALUES (123002, '5000-1700-5001',  'RECURRING DEPOSITS', 7500000, 'ACTIVE','S');
INSERT INTO BANK_ACCOUNT VALUES (123003, '4000-1956-2900',  'SAVINGS',             750000, 'INACTIVE','P');
INSERT INTO BANK_ACCOUNT VALUES (123004, '5000-1700-6091',  'RECURRING DEPOSITS', 7500000, 'ACTIVE','S');
INSERT INTO BANK_ACCOUNT VALUES (123004, '4000-1956-3401',  'SAVINGS',             655000, 'ACTIVE','P');
INSERT INTO BANK_ACCOUNT VALUES (123005, '4000-1956-5102',  'SAVINGS',             300000, 'ACTIVE','P');
INSERT INTO BANK_ACCOUNT VALUES (123006, '4000-1956-5698',  'SAVINGS',             455000, 'ACTIVE','P');
INSERT INTO BANK_ACCOUNT VALUES (123007, '5000-1700-9800',  'SAVINGS',             355000, 'ACTIVE','P');
INSERT INTO BANK_ACCOUNT VALUES (123007, '4000-1956-9977',  'RECURRING DEPOSITS', 7025000, 'ACTIVE','S');
INSERT INTO BANK_ACCOUNT VALUES (123007, '9000-1700-7777-4321', 'CREDITCARD',           0, 'INACTIVE','P');
INSERT INTO BANK_ACCOUNT VALUES (123008, '5000-1700-7755',  'SAVINGS',                NULL, 'INACTIVE','P');
""")

conn.commit()
print("BANK_ACCOUNT table created and data inserted.")

BANK_ACCOUNT table created and data inserted.

**verifying the data**

In [ ]:
cursor.execute("SELECT * FROM BANK_ACCOUNT;")
for row in cursor.fetchall():
    print(row)

(123001, '4000-1956-3456', 'SAVINGS', 200000, 'ACTIVE', 'P')
(123001, '5000-1700-3456', 'RECURRING DEPOSITS', 9400000, 'ACTIVE', 'S')
(123002, '4000-1956-2001', 'SAVINGS', 400000, 'ACTIVE', 'P')
(123002, '5000-1700-5001', 'RECURRING DEPOSITS', 7500000, 'ACTIVE', 'S')
(123003, '4000-1956-2900', 'SAVINGS', 750000, 'INACTIVE', 'P')
(123004, '5000-1700-6091', 'RECURRING DEPOSITS', 7500000, 'ACTIVE', 'S')
(123004, '4000-1956-3401', 'SAVINGS', 655000, 'ACTIVE', 'P')
(123005, '4000-1956-5102', 'SAVINGS', 300000, 'ACTIVE', 'P')
(123006, '4000-1956-5698', 'SAVINGS', 455000, 'ACTIVE', 'P')
(123007, '5000-1700-9800', 'SAVINGS', 355000, 'ACTIVE', 'P')
(123007, '4000-1956-9977', 'RECURRING DEPOSITS', 7025000, 'ACTIVE', 'S')
(123007, '9000-1700-7777-4321', 'CREDITCARD', 0, 'INACTIVE', 'P')
(123008, '5000-1700-7755', 'SAVINGS', None, 'INACTIVE', 'P')

**Bank_Account_Relationship_Details**

In [ ]:
cursor.executescript("""
DROP TABLE IF EXISTS Bank_Account_Relationship_Details;

CREATE TABLE Bank_Account_Relationship_Details (
    Customer_id INT,
    Account_Number VARCHAR(19),
    Account_type VARCHAR(25),
    Linking_Account_Number VARCHAR(19)
);
""")

conn.commit()
print("Bank_Account_Relationship_Details table created.")

Bank_Account_Relationship_Details table created.

In [ ]:
cursor.executescript("""
INSERT INTO Bank_Account_Relationship_Details VALUES (123001, '4000-1956-3456',  'SAVINGS', '' );
INSERT INTO Bank_Account_Relationship_Details VALUES (123001, '5000-1700-3456',  'RECURRING DEPOSITS', '4000-1956-3456');
INSERT INTO Bank_Account_Relationship_Details VALUES (123002, '4000-1956-2001',  'SAVINGS', '' );
INSERT INTO Bank_Account_Relationship_Details VALUES (123002, '5000-1700-5001',  'RECURRING DEPOSITS', '4000-1956-2001' );
INSERT INTO Bank_Account_Relationship_Details VALUES (123003, '4000-1956-2900',  'SAVINGS', '' );
INSERT INTO Bank_Account_Relationship_Details VALUES (123004, '5000-1700-6091',  'RECURRING DEPOSITS', '4000-1956-2900' );
INSERT INTO Bank_Account_Relationship_Details VALUES (123004, '5000-1700-7791',  'RECURRING DEPOSITS', '4000-1956-2900' );
INSERT INTO Bank_Account_Relationship_Details VALUES (123007, '5000-1700-9800',  'SAVINGS', '' );
INSERT INTO Bank_Account_Relationship_Details VALUES (123007, '4000-1956-9977',  'RECURRING DEPOSITS', '5000-1700-9800' );
INSERT INTO Bank_Account_Relationship_Details VALUES (NULL, '9000-1700-7777-4321',  'Credit Card', '5000-1700-9800' );
INSERT INTO Bank_Account_Relationship_Details VALUES (NULL, '5900-1900-9877-5543', 'Add-on Credit Card', '9000-1700-7777-4321' );
INSERT INTO Bank_Account_Relationship_Details VALUES (NULL, '5800-1700-9800-7755', 'Credit Card', '4000-1956-5698' );
INSERT INTO Bank_Account_Relationship_Details VALUES (NULL, '5890-1970-7706-8912', 'Add-on Credit Card', '5800-1700-9800-7755' );
""")

conn.commit()
print("Data inserted into Bank_Account_Relationship_Details.")

Data inserted into Bank_Account_Relationship_Details.

In [ ]:
cursor.execute("SELECT * FROM Bank_Account_Relationship_Details;")
for row in cursor.fetchall():
    print(row)

(123001, '4000-1956-3456', 'SAVINGS', '')
(123001, '5000-1700-3456', 'RECURRING DEPOSITS', '4000-1956-3456')
(123002, '4000-1956-2001', 'SAVINGS', '')
(123002, '5000-1700-5001', 'RECURRING DEPOSITS', '4000-1956-2001')
(123003, '4000-1956-2900', 'SAVINGS', '')
(123004, '5000-1700-6091', 'RECURRING DEPOSITS', '4000-1956-2900')
(123004, '5000-1700-7791', 'RECURRING DEPOSITS', '4000-1956-2900')
(123007, '5000-1700-9800', 'SAVINGS', '')
(123007, '4000-1956-9977', 'RECURRING DEPOSITS', '5000-1700-9800')
(None, '9000-1700-7777-4321', 'Credit Card', '5000-1700-9800')
(None, '5900-1900-9877-5543', 'Add-on Credit Card', '9000-1700-7777-4321')
(None, '5800-1700-9800-7755', 'Credit Card', '4000-1956-5698')
(None, '5890-1970-7706-8912', 'Add-on Credit Card', '5800-1700-9800-7755')

**BANK_ACCOUNT_TRANSACTION**

In [ ]:
cursor.executescript("""
DROP TABLE IF EXISTS BANK_ACCOUNT_TRANSACTION;

CREATE TABLE BANK_ACCOUNT_TRANSACTION (
    Account_Number VARCHAR(19),
    Transaction_amount DECIMAL(18,2),
    Transcation_channel VARCHAR(18),
    Province VARCHAR(3),
    Transaction_Date DATE
);
""")

conn.commit()
print("BANK_ACCOUNT_TRANSACTION table created.")

BANK_ACCOUNT_TRANSACTION table created.

In [ ]:
cursor.executescript("""
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('4000-1956-3456',  -2000, 'ATM withdrawl' , 'CA', '2020-01-13');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('4000-1956-2001',  -4000, 'POS-Walmart'   , 'MN', '2020-02-14');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('4000-1956-2001',  -1600, 'UPI transfer'  , 'MN', '2020-01-19');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('4000-1956-2001',  -6000, 'Bankers cheque', 'CA', '2020-03-23');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('4000-1956-2001',  -3000, 'Net banking'   , 'CA', '2020-04-24');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('4000-1956-2001',   23000, 'cheque deposit', 'MN', '2020-03-15');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('5000-1700-6091',   40000, 'ECS transfer'  , 'NY', '2020-02-19');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('5000-1700-7791',   40000, 'ECS transfer'  , 'NY', '2020-02-19');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('4000-1956-3401',    8000, 'Cash Deposit'  , 'NY', '2020-01-19');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('4000-1956-5102',   -6500, 'ATM withdrawal', 'NY', '2020-03-14');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('4000-1956-5698',   -9000, 'Cash Deposit'  , 'NY', '2020-03-27');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('4000-1956-9977',   50000, 'ECS transfer'  , 'NY', '2020-01-16');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('9000-1700-7777-4321', -5000, 'POS-Walmart', 'NY', '2020-02-17');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('9000-1700-7777-4321', -8000, 'Shopping Cart', 'MN', '2020-03-13');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('9000-1700-7777-4321', -2500, 'Shopping Cart', 'MN', '2020-04-21');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('5800-1700-9800-7755', -9000, 'POS-Walmart', 'MN', '2020-04-13');
INSERT INTO BANK_ACCOUNT_TRANSACTION VALUES ('5890-1970-7706-8912', -11000, 'Shopping Cart', 'NY', '2020-03-12');
""")

conn.commit()
print("Data inserted into BANK_ACCOUNT_TRANSACTION.")

Data inserted into BANK_ACCOUNT_TRANSACTION.

In [ ]:
cursor.execute("SELECT * FROM BANK_ACCOUNT_TRANSACTION;")
for row in cursor.fetchall():
    print(row)

('4000-1956-3456', -2000, 'ATM withdrawl', 'CA', '2020-01-13')
('4000-1956-2001', -4000, 'POS-Walmart', 'MN', '2020-02-14')
('4000-1956-2001', -1600, 'UPI transfer', 'MN', '2020-01-19')
('4000-1956-2001', -6000, 'Bankers cheque', 'CA', '2020-03-23')
('4000-1956-2001', -3000, 'Net banking', 'CA', '2020-04-24')
('4000-1956-2001', 23000, 'cheque deposit', 'MN', '2020-03-15')
('5000-1700-6091', 40000, 'ECS transfer', 'NY', '2020-02-19')
('5000-1700-7791', 40000, 'ECS transfer', 'NY', '2020-02-19')
('4000-1956-3401', 8000, 'Cash Deposit', 'NY', '2020-01-19')
('4000-1956-5102', -6500, 'ATM withdrawal', 'NY', '2020-03-14')
('4000-1956-5698', -9000, 'Cash Deposit', 'NY', '2020-03-27')
('4000-1956-9977', 50000, 'ECS transfer', 'NY', '2020-01-16')
('9000-1700-7777-4321', -5000, 'POS-Walmart', 'NY', '2020-02-17')
('9000-1700-7777-4321', -8000, 'Shopping Cart', 'MN', '2020-03-13')
('9000-1700-7777-4321', -2500, 'Shopping Cart', 'MN', '2020-04-21')
('5800-1700-9800-7755', -9000, 'POS-Walmart', 'MN', '2020-04-13')
('5890-1970-7706-8912', -11000, 'Shopping Cart', 'NY', '2020-03-12')

**BANK_CUSTOMER_MESSAGES**

In [ ]:
cursor.executescript("""
DROP TABLE IF EXISTS BANK_CUSTOMER_MESSAGES;

CREATE TABLE BANK_CUSTOMER_MESSAGES (
    Event VARCHAR(24),
    Customer_message VARCHAR(75),
    Notice_delivery_mode VARCHAR(15)
);
""")

conn.commit()
print("BANK_CUSTOMER_MESSAGES table created.")

BANK_CUSTOMER_MESSAGES table created.

In [ ]:
cursor.executescript("""
INSERT INTO BANK_CUSTOMER_MESSAGES
VALUES ('Adhoc', 'All Banks are closed due to announcement of National strike', 'mobile');

INSERT INTO BANK_CUSTOMER_MESSAGES
VALUES ('Transaction Limit', 'Only limited withdrawals per card are allowed from ATM machines', 'mobile');
""")

conn.commit()
print("BANK_CUSTOMER_MESSAGES data inserted.")

BANK_CUSTOMER_MESSAGES data inserted.

In [ ]:
cursor.executescript("""
INSERT INTO BANK_ACCOUNT_TRANSACTION
(Account_Number, Transaction_amount, Transcation_channel, Province, Transaction_Date)
VALUES ('4000-1956-9977', 10000.00, 'ECS transfer', 'MN', '2020-02-16');

INSERT INTO BANK_ACCOUNT_TRANSACTION
VALUES ('4000-1956-9977', 40000.00, 'ECS transfer', 'MN', '2020-03-18');

INSERT INTO BANK_ACCOUNT_TRANSACTION
VALUES ('4000-1956-9977', 60000.00, 'ECS transfer', 'MN', '2020-04-18');

INSERT INTO BANK_ACCOUNT_TRANSACTION
VALUES ('4000-1956-9977', 20000.00, 'ECS transfer', 'MN', '2020-03-20');

INSERT INTO BANK_ACCOUNT_TRANSACTION
VALUES ('4000-1956-9977', 49000.00, 'ECS transfer', 'MN', '2020-06-18');
""")

conn.commit()
print("Additional BANK_ACCOUNT_TRANSACTION rows inserted.")

Additional BANK_ACCOUNT_TRANSACTION rows inserted.

In [ ]:
cursor.execute("SELECT * FROM BANK_CUSTOMER_MESSAGES;")
for row in cursor.fetchall():
    print(row)

('Adhoc', 'All Banks are closed due to announcement of National strike', 'mobile')
('Transaction Limit', 'Only limited withdrawals per card are allowed from ATM machines', 'mobile')

In [ ]:
cursor.execute("SELECT * FROM BANK_ACCOUNT_TRANSACTION WHERE Account_Number='4000-1956-9977';")
for row in cursor.fetchall():
    print(row)

('4000-1956-9977', 50000, 'ECS transfer', 'NY', '2020-01-16')
('4000-1956-9977', 10000, 'ECS transfer', 'MN', '2020-02-16')
('4000-1956-9977', 40000, 'ECS transfer', 'MN', '2020-03-18')
('4000-1956-9977', 60000, 'ECS transfer', 'MN', '2020-04-18')
('4000-1956-9977', 20000, 'ECS transfer', 'MN', '2020-03-20')
('4000-1956-9977', 49000, 'ECS transfer', 'MN', '2020-06-18')

**BANK_INTEREST_RATE**

In [ ]:
cursor.executescript("""
DROP TABLE IF EXISTS BANK_INTEREST_RATE;

CREATE TABLE BANK_INTEREST_RATE (
    account_type VARCHAR(24),
    interest_rate DECIMAL(4,2),
    month VARCHAR(2),
    year VARCHAR(4)
);
""")

conn.commit()
print("BANK_INTEREST_RATE table created.")

BANK_INTEREST_RATE table created.

In [ ]:
cursor.executescript("""
INSERT INTO BANK_INTEREST_RATE VALUES ('SAVINGS', 0.04, '02', '2020');
INSERT INTO BANK_INTEREST_RATE VALUES ('RECURRING DEPOSITS', 0.07, '02', '2020');
INSERT INTO BANK_INTEREST_RATE VALUES ('PRIVILEGED_INTEREST_RATE', 0.08, '02', '2020');
""")

conn.commit()
print("BANK_INTEREST_RATE data inserted.")

BANK_INTEREST_RATE data inserted.

In [ ]:
cursor.execute("SELECT * FROM BANK_INTEREST_RATE;")
for row in cursor.fetchall():
    print(row)

('SAVINGS', 0.04, '02', '2020')
('RECURRING DEPOSITS', 0.07, '02', '2020')
('PRIVILEGED_INTEREST_RATE', 0.08, '02', '2020')

1) Print customer Id, customer name and average account_balance maintained by each customer for all  of his/her accounts in the bank.(8 Rows)

In [ ]:
# Q1: Customer ID, Customer Name, Average Balance per Customer
query = """
SELECT
    c.customer_id,
    c.customer_name,
    AVG(a.Balance_amount) AS average_balance
FROM BANK_CUSTOMER c
LEFT JOIN BANK_ACCOUNT a
    ON c.customer_id = a.Customer_id
GROUP BY c.customer_id, c.customer_name
ORDER BY c.customer_id
LIMIT 8;
"""

cursor.execute(query)

# Fetch column names
columns = [desc[0] for desc in cursor.description]

# Fetch all results
results = cursor.fetchall()

# Print table header
print("{:<12} {:<20} {:<15}".format(*columns))
print("-" * 50)

# Print each row formatted
for row in results:
    avg_bal = 0 if row[2] is None else row[2]   # Handle NULL
    print("{:<12} {:<20} {:<15.2f}".format(row[0], row[1], avg_bal))

customer_id  customer_name        average_balance
--------------------------------------------------
123001       Oliver               4800000.00
123002       George               3950000.00
123003       Harry                750000.00
123004       Jack                 4077500.00
123005       Jacob                300000.00
123006       Noah                 455000.00
123007       Charlie              2460000.00
123008       Robin                0.00

2) Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows)

In [ ]:
query = """
SELECT
    a.Customer_id,
    a.Account_Number,
    COALESCE(a.Balance_amount, t.Transaction_amount) AS final_balance
FROM BANK_ACCOUNT a  -- Changed from Bank_Account_Details to BANK_ACCOUNT
LEFT JOIN BANK_ACCOUNT_TRANSACTION t
    ON a.Account_Number = t.Account_Number
WHERE a.Account_type = 'CREDITCARD' -- Corrected account type to match data
GROUP BY a.Customer_id, a.Account_Number, a.Balance_amount, t.Transaction_amount -- Added Balance_amount and Transaction_amount to GROUP BY for COALESCE
LIMIT 4;
"""

cursor.execute(query)

# Fetch column names
columns = [desc[0] for desc in cursor.description]

# Fetch all results
results = cursor.fetchall()

# Print header
print("{:<12} {:<25} {:<15}".format(*columns))
print("-" * 60)

# Print rows
for row in results:
    final_bal = 0 if row[2] is None else row[2]
    print("{:<12} {:<25} {:<15}".format(row[0], row[1], final_bal))

Customer_id  Account_Number            final_balance
------------------------------------------------------------
123007       9000-1700-7777-4321       0
123007       9000-1700-7777-4321       0
123007       9000-1700-7777-4321       0

3) Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)

In [ ]:
# Q3: Transactions in March 2020 and April 2020
query = """
SELECT
    a.Account_Number,
    a.Balance_amount,
    t.Transaction_amount,
    t.Transaction_Date
FROM BANK_ACCOUNT a
JOIN BANK_ACCOUNT_TRANSACTION t
    ON a.Account_Number = t.Account_Number
WHERE t.Transaction_Date BETWEEN '2020-03-01' AND '2020-04-30'
ORDER BY t.Transaction_Date, a.Account_Number;
"""

cursor.execute(query)

# Fetch column names
columns = [desc[0] for desc in cursor.description]

# Fetch all results
results = cursor.fetchall()

# Print header
print("{:<20} {:<15} {:<18} {:<15}".format(*columns))
print("-" * 75)

# Print each row
for row in results:
    acc_no = row[0]
    bal = 0 if row[1] is None else row[1]
    txn_amt = 0 if row[2] is None else row[2]
    txn_date = row[3]
    print("{:<20} {:<15} {:<18} {:<15}".format(acc_no, bal, txn_amt, txn_date))

Account_Number       Balance_amount  Transaction_amount Transaction_Date
---------------------------------------------------------------------------
9000-1700-7777-4321  0               -8000              2020-03-13
4000-1956-5102       300000          -6500              2020-03-14
4000-1956-2001       400000          23000              2020-03-15
4000-1956-9977       7025000         40000              2020-03-18
4000-1956-9977       7025000         20000              2020-03-20
4000-1956-2001       400000          -6000              2020-03-23
4000-1956-5698       455000          -9000              2020-03-27
4000-1956-9977       7025000         60000              2020-04-18
9000-1700-7777-4321  0               -2500              2020-04-21
4000-1956-2001       400000          -3000              2020-04-24

4) Print all of the customer id, account number,  balance_amount, transaction_amount , Transaction_Date  from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020  month (22 Rows)

In [ ]:
# Q4: All transactions EXCLUDING those in March 2020
query = """
SELECT
    c.customer_id,
    a.Account_Number,
    a.Balance_amount,
    t.Transaction_amount,
    t.Transaction_Date
FROM BANK_CUSTOMER c
JOIN BANK_ACCOUNT a  -- Changed from Bank_Account_Details to BANK_ACCOUNT
    ON c.customer_id = a.Customer_id
JOIN BANK_ACCOUNT_TRANSACTION t
    ON a.Account_Number = t.Account_Number
WHERE t.Transaction_Date NOT BETWEEN '2020-03-01' AND '2020-03-31'
ORDER BY c.customer_id, t.Transaction_Date, a.Account_Number;
"""

cursor.execute(query)

# Fetch column names
columns = [desc[0] for desc in cursor.description]

# Fetch all results
results = cursor.fetchall()

# Print header
print("{:<12} {:<20} {:<15} {:<18} {:<15}".format(*columns))
print("-" * 85)

# Print each row
for row in results:
    cust_id = row[0]
    acc_no = row[1]
    bal = 0 if row[2] is None else row[2]
    txn_amt = 0 if row[3] is None else row[3]
    txn_date = row[4]
    print("{:<12} {:<20} {:<15} {:<18} {:<15}".format(cust_id, acc_no, bal, txn_amt, txn_date))

customer_id  Account_Number       Balance_amount  Transaction_amount Transaction_Date
-------------------------------------------------------------------------------------
123001       4000-1956-3456       200000          -2000              2020-01-13
123001       4000-1956-3456       200000          -2000              2020-01-13
123001       4000-1956-3456       200000          -2000              2020-01-13
123002       4000-1956-2001       400000          -1600              2020-01-19
123002       4000-1956-2001       400000          -1600              2020-01-19
123002       4000-1956-2001       400000          -1600              2020-01-19
123002       4000-1956-2001       400000          -4000              2020-02-14
123002       4000-1956-2001       400000          -4000              2020-02-14
123002       4000-1956-2001       400000          -4000              2020-02-14
123002       4000-1956-2001       400000          -3000              2020-04-24
123002       4000-1956-2001       400000          -3000              2020-04-24
123002       4000-1956-2001       400000          -3000              2020-04-24
123004       4000-1956-3401       655000          8000               2020-01-19
123004       4000-1956-3401       655000          8000               2020-01-19
123004       4000-1956-3401       655000          8000               2020-01-19
123004       5000-1700-6091       7500000         40000              2020-02-19
123004       5000-1700-6091       7500000         40000              2020-02-19
123004       5000-1700-6091       7500000         40000              2020-02-19
123007       4000-1956-9977       7025000         50000              2020-01-16
123007       4000-1956-9977       7025000         50000              2020-01-16
123007       4000-1956-9977       7025000         50000              2020-01-16
123007       4000-1956-9977       7025000         10000              2020-02-16
123007       4000-1956-9977       7025000         10000              2020-02-16
123007       4000-1956-9977       7025000         10000              2020-02-16
123007       9000-1700-7777-4321  0               -5000              2020-02-17
123007       9000-1700-7777-4321  0               -5000              2020-02-17
123007       9000-1700-7777-4321  0               -5000              2020-02-17
123007       4000-1956-9977       7025000         60000              2020-04-18
123007       4000-1956-9977       7025000         60000              2020-04-18
123007       4000-1956-9977       7025000         60000              2020-04-18
123007       9000-1700-7777-4321  0               -2500              2020-04-21
123007       9000-1700-7777-4321  0               -2500              2020-04-21
123007       9000-1700-7777-4321  0               -2500              2020-04-21
123007       4000-1956-9977       7025000         49000              2020-06-18
123007       4000-1956-9977       7025000         49000              2020-06-18
123007       4000-1956-9977       7025000         49000              2020-06-18

5) Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)

In [ ]:
# Q5: First quarter transactions only (Jan, Feb, Mar 2020)
query = """
SELECT
    c.customer_id,
    a.Account_Number,
    a.Balance_amount,
    t.Transaction_amount,
    t.Transaction_Date
FROM BANK_CUSTOMER c
JOIN BANK_ACCOUNT a  -- Changed from Bank_Account_Details to BANK_ACCOUNT
    ON c.customer_id = a.Customer_id
JOIN BANK_ACCOUNT_TRANSACTION t
    ON a.Account_Number = t.Account_Number
WHERE t.Transaction_Date BETWEEN '2020-01-01' AND '2020-03-31'
ORDER BY c.customer_id, t.Transaction_Date, a.Account_Number;
"""

cursor.execute(query)

# Fetch column names
columns = [desc[0] for desc in cursor.description]

# Fetch all results
results = cursor.fetchall()

# Print header
print("{:<12} {:<20} {:<15} {:<18} {:<15}".format(*columns))
print("-" * 85)

# Print each row
for row in results:
    cust_id = row[0]
    acc_no = row[1]
    bal = 0 if row[2] is None else row[2]
    txn_amt = 0 if row[3] is None else row[3]
    txn_date = row[4]
    print("{:<12} {:<20} {:<15} {:<18} {:<15}".format(cust_id, acc_no, bal, txn_amt, txn_date))

customer_id  Account_Number       Balance_amount  Transaction_amount Transaction_Date
-------------------------------------------------------------------------------------
123001       4000-1956-3456       200000          -2000              2020-01-13
123001       4000-1956-3456       200000          -2000              2020-01-13
123001       4000-1956-3456       200000          -2000              2020-01-13
123002       4000-1956-2001       400000          -1600              2020-01-19
123002       4000-1956-2001       400000          -1600              2020-01-19
123002       4000-1956-2001       400000          -1600              2020-01-19
123002       4000-1956-2001       400000          -4000              2020-02-14
123002       4000-1956-2001       400000          -4000              2020-02-14
123002       4000-1956-2001       400000          -4000              2020-02-14
123002       4000-1956-2001       400000          23000              2020-03-15
123002       4000-1956-2001       400000          23000              2020-03-15
123002       4000-1956-2001       400000          23000              2020-03-15
123002       4000-1956-2001       400000          -6000              2020-03-23
123002       4000-1956-2001       400000          -6000              2020-03-23
123002       4000-1956-2001       400000          -6000              2020-03-23
123004       4000-1956-3401       655000          8000               2020-01-19
123004       4000-1956-3401       655000          8000               2020-01-19
123004       4000-1956-3401       655000          8000               2020-01-19
123004       5000-1700-6091       7500000         40000              2020-02-19
123004       5000-1700-6091       7500000         40000              2020-02-19
123004       5000-1700-6091       7500000         40000              2020-02-19
123005       4000-1956-5102       300000          -6500              2020-03-14
123005       4000-1956-5102       300000          -6500              2020-03-14
123005       4000-1956-5102       300000          -6500              2020-03-14
123006       4000-1956-5698       455000          -9000              2020-03-27
123006       4000-1956-5698       455000          -9000              2020-03-27
123006       4000-1956-5698       455000          -9000              2020-03-27
123007       4000-1956-9977       7025000         50000              2020-01-16
123007       4000-1956-9977       7025000         50000              2020-01-16
123007       4000-1956-9977       7025000         50000              2020-01-16
123007       4000-1956-9977       7025000         10000              2020-02-16
123007       4000-1956-9977       7025000         10000              2020-02-16
123007       4000-1956-9977       7025000         10000              2020-02-16
123007       9000-1700-7777-4321  0               -5000              2020-02-17
123007       9000-1700-7777-4321  0               -5000              2020-02-17
123007       9000-1700-7777-4321  0               -5000              2020-02-17
123007       9000-1700-7777-4321  0               -8000              2020-03-13
123007       9000-1700-7777-4321  0               -8000              2020-03-13
123007       9000-1700-7777-4321  0               -8000              2020-03-13
123007       4000-1956-9977       7025000         40000              2020-03-18
123007       4000-1956-9977       7025000         40000              2020-03-18
123007       4000-1956-9977       7025000         40000              2020-03-18
123007       4000-1956-9977       7025000         20000              2020-03-20
123007       4000-1956-9977       7025000         20000              2020-03-20
123007       4000-1956-9977       7025000         20000              2020-03-20

6) Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an Adhoc" Event for all customers who have  SAVINGS" account_type account.(8 Rows)

In [ ]:
# Q6: Show Adhoc event message for all SAVINGS accounts
query = """
SELECT
    a.Account_Number,
    m.Event,
    m.Customer_message
FROM Bank_Account_Details a
CROSS JOIN BANK_CUSTOMER_MESSAGES m
WHERE a.Account_type = 'SAVINGS'
  AND m.Event = 'Adhoc'
ORDER BY a.Account_Number;
"""

cursor.execute(query)

# Fetch column names
columns = [desc[0] for desc in cursor.description]

# Fetch all results
results = cursor.fetchall()

# Print header
print("{:<20} {:<12} {:<80}".format(*columns))
print("-" * 115)

# Print each row
for row in results:
    acc_no = row[0]
    event = row[1]
    msg = row[2]
    print("{:<20} {:<12} {:<80}".format(acc_no, event, msg))

account_number       Event        Customer_message
-------------------------------------------------------------------------------------------------------------------
4000-1956-2001       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-2001       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-2001       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-2900       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-2900       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-2900       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-3401       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-3401       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-3401       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-3456       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-3456       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-3456       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-5102       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-5102       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-5102       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-5698       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-5698       Adhoc        All Banks are closed due to announcement of National strike
4000-1956-5698       Adhoc        All Banks are closed due to announcement of National strike
5000-1700-7755       Adhoc        All Banks are closed due to announcement of National strike
5000-1700-7755       Adhoc        All Banks are closed due to announcement of National strike
5000-1700-7755       Adhoc        All Banks are closed due to announcement of National strike
5000-1700-9800       Adhoc        All Banks are closed due to announcement of National strike
5000-1700-9800       Adhoc        All Banks are closed due to announcement of National strike
5000-1700-9800       Adhoc        All Banks are closed due to announcement of National strike

7) Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by  subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means  Primary , S - means Secondary ) .(27 Rows)

In [ ]:
# Q7: Deducted balance for Primary (P) relationship accounts
query = """
SELECT
    a.Customer_id,
    a.Account_Number,
    a.Account_type,
    a.Balance_amount
        + COALESCE(SUM(CASE
                           WHEN t.Transaction_amount < 0
                           THEN t.Transaction_amount
                           ELSE 0
                       END), 0) AS deducted_balance_amount
FROM BANK_ACCOUNT a  -- Changed from Bank_Account_Details to BANK_ACCOUNT
LEFT JOIN BANK_ACCOUNT_TRANSACTION t
    ON a.Account_Number = t.Account_Number
WHERE a.Relation_ship = 'P' -- Changed from Relationship_type to Relation_ship
GROUP BY
    a.Customer_id,
    a.Account_Number,
    a.Account_type,
    a.Balance_amount
ORDER BY
    a.Customer_id,
    a.Account_Number;
"""

cursor.execute(query)

# Fetch column names
columns = [desc[0] for desc in cursor.description]

# Fetch all results
results = cursor.fetchall()

# Print header
print("{:<12} {:<20} {:<20} {:<22}".format(*columns))
print("-" * 80)

# Print each row
for row in results:
    cust_id = row[0]
    acc_no = row[1]
    acc_type = row[2]
    ded_bal = 0 if row[3] is None else row[3]
    print("{:<12} {:<20} {:<20} {:<22.2f}".format(cust_id, acc_no, acc_type, ded_bal))

Customer_id  Account_Number       Account_type         deducted_balance_amount
--------------------------------------------------------------------------------
123001       4000-1956-3456       SAVINGS              198000.00
123002       4000-1956-2001       SAVINGS              385400.00
123003       4000-1956-2900       SAVINGS              750000.00
123004       4000-1956-3401       SAVINGS              655000.00
123005       4000-1956-5102       SAVINGS              293500.00
123006       4000-1956-5698       SAVINGS              446000.00
123007       5000-1700-9800       SAVINGS              355000.00
123007       9000-1700-7777-4321  CREDITCARD           -15500.00
123008       5000-1700-7755       SAVINGS              0.00

8(a) Display records of All Accounts , their Account_types, the transaction amount

In [ ]:
# Q8 (a): All accounts + account_type + transaction_amount
query = """
SELECT
    a.Account_Number,
    a.Account_type,
    t.Transaction_amount
FROM Bank_Account_Details a
LEFT JOIN BANK_ACCOUNT_TRANSACTION t
    ON a.Account_Number = t.Account_Number
ORDER BY a.Account_Number;
"""

cursor.execute(query)

# Print header
columns = [desc[0] for desc in cursor.description]
print("{:<22} {:<20} {:<18}".format(*columns))
print("-" * 70)

# Print rows
for row in cursor.fetchall():
    acc_no = row[0]
    acc_type = row[1]
    txn_amt = 0 if row[2] is None else row[2]
    print("{:<22} {:<20} {:<18}".format(acc_no, acc_type, txn_amt))

account_number         account_type         Transaction_amount
----------------------------------------------------------------------
4000-1956-2001         SAVINGS              -6000
4000-1956-2001         SAVINGS              -4000
4000-1956-2001         SAVINGS              -3000
4000-1956-2001         SAVINGS              -1600
4000-1956-2001         SAVINGS              23000
4000-1956-2001         SAVINGS              -6000
4000-1956-2001         SAVINGS              -4000
4000-1956-2001         SAVINGS              -3000
4000-1956-2001         SAVINGS              -1600
4000-1956-2001         SAVINGS              23000
4000-1956-2001         SAVINGS              -6000
4000-1956-2001         SAVINGS              -4000
4000-1956-2001         SAVINGS              -3000
4000-1956-2001         SAVINGS              -1600
4000-1956-2001         SAVINGS              23000
4000-1956-2900         SAVINGS              0
4000-1956-2900         SAVINGS              0
4000-1956-2900         SAVINGS              0
4000-1956-3401         SAVINGS              8000
4000-1956-3401         SAVINGS              8000
4000-1956-3401         SAVINGS              8000
4000-1956-3456         SAVINGS              -2000
4000-1956-3456         SAVINGS              -2000
4000-1956-3456         SAVINGS              -2000
4000-1956-5102         SAVINGS              -6500
4000-1956-5102         SAVINGS              -6500
4000-1956-5102         SAVINGS              -6500
4000-1956-5698         SAVINGS              -9000
4000-1956-5698         SAVINGS              -9000
4000-1956-5698         SAVINGS              -9000
4000-1956-9977         RECURRING DEPOSITS   10000
4000-1956-9977         RECURRING DEPOSITS   20000
4000-1956-9977         RECURRING DEPOSITS   40000
4000-1956-9977         RECURRING DEPOSITS   49000
4000-1956-9977         RECURRING DEPOSITS   50000
4000-1956-9977         RECURRING DEPOSITS   60000
4000-1956-9977         RECURRING DEPOSITS   10000
4000-1956-9977         RECURRING DEPOSITS   20000
4000-1956-9977         RECURRING DEPOSITS   40000
4000-1956-9977         RECURRING DEPOSITS   49000
4000-1956-9977         RECURRING DEPOSITS   50000
4000-1956-9977         RECURRING DEPOSITS   60000
4000-1956-9977         RECURRING DEPOSITS   10000
4000-1956-9977         RECURRING DEPOSITS   20000
4000-1956-9977         RECURRING DEPOSITS   40000
4000-1956-9977         RECURRING DEPOSITS   49000
4000-1956-9977         RECURRING DEPOSITS   50000
4000-1956-9977         RECURRING DEPOSITS   60000
5000-1700-3456         RECURRING DEPOSITS   0
5000-1700-3456         RECURRING DEPOSITS   0
5000-1700-3456         RECURRING DEPOSITS   0
5000-1700-5001         RECURRING DEPOSITS   0
5000-1700-5001         RECURRING DEPOSITS   0
5000-1700-5001         RECURRING DEPOSITS   0
5000-1700-6091         RECURRING DEPOSITS   40000
5000-1700-6091         RECURRING DEPOSITS   40000
5000-1700-6091         RECURRING DEPOSITS   40000
5000-1700-7755         SAVINGS              0
5000-1700-7755         SAVINGS              0
5000-1700-7755         SAVINGS              0
5000-1700-9800         SAVINGS              0
5000-1700-9800         SAVINGS              0
5000-1700-9800         SAVINGS              0
5800-1700-9800-7755    Credit Card          -9000
5800-1700-9800-7755    Credit Card          -9000
5800-1700-9800-7755    Credit Card          -9000
5890-1970-7706-8912    Add-on Credit Card   -11000
5890-1970-7706-8912    Add-on Credit Card   -11000
5890-1970-7706-8912    Add-on Credit Card   -11000
5900-1900-9877-5543    Add-on Credit Card   0
5900-1900-9877-5543    Add-on Credit Card   0
5900-1900-9877-5543    Add-on Credit Card   0
9000-1700-7777-4321    Credit Card          -8000
9000-1700-7777-4321    Credit Card          -5000
9000-1700-7777-4321    Credit Card          -2500
9000-1700-7777-4321    Credit Card          -8000
9000-1700-7777-4321    Credit Card          -5000
9000-1700-7777-4321    Credit Card          -2500
9000-1700-7777-4321    Credit Card          -8000
9000-1700-7777-4321    Credit Card          -5000
9000-1700-7777-4321    Credit Card          -2500

8(b) Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)

In [ ]:
# Q8 (b): All accounts + transaction amount + linked account details
query = """
SELECT
    a.Account_Number,
    a.Account_type,
    t.Transaction_amount,
    r.Linking_Account_Number,
    r.Account_type AS linked_account_type
FROM Bank_Account_Details a
LEFT JOIN BANK_ACCOUNT_TRANSACTION t
    ON a.Account_Number = t.Account_Number
LEFT JOIN Bank_Account_Relationship_Details r
    ON a.Account_Number = r.Account_Number
ORDER BY a.Account_Number;
"""

cursor.execute(query)

# Print header
columns = [desc[0] for desc in cursor.description]
print("{:<22} {:<20} {:<18} {:<25} {:<20}".format(*columns))
print("-" * 110)

# Print rows
for row in cursor.fetchall():
    acc_no = row[0]
    acc_type = row[1]
    txn_amt = 0 if row[2] is None else row[2]
    link_acc = row[3] if row[3] else ""
    link_type = row[4] if row[4] else ""
    print("{:<22} {:<20} {:<18} {:<25} {:<20}".format(acc_no, acc_type, txn_amt, link_acc, link_type))

account_number         account_type         Transaction_amount Linking_Account_Number    linked_account_type
--------------------------------------------------------------------------------------------------------------
4000-1956-2001         SAVINGS              -6000                                        SAVINGS
4000-1956-2001         SAVINGS              -4000                                        SAVINGS
4000-1956-2001         SAVINGS              -3000                                        SAVINGS
4000-1956-2001         SAVINGS              -1600                                        SAVINGS
4000-1956-2001         SAVINGS              23000                                        SAVINGS
4000-1956-2001         SAVINGS              -6000                                        SAVINGS
4000-1956-2001         SAVINGS              -4000                                        SAVINGS
4000-1956-2001         SAVINGS              -3000                                        SAVINGS
4000-1956-2001         SAVINGS              -1600                                        SAVINGS
4000-1956-2001         SAVINGS              23000                                        SAVINGS
4000-1956-2001         SAVINGS              -6000                                        SAVINGS
4000-1956-2001         SAVINGS              -4000                                        SAVINGS
4000-1956-2001         SAVINGS              -3000                                        SAVINGS
4000-1956-2001         SAVINGS              -1600                                        SAVINGS
4000-1956-2001         SAVINGS              23000                                        SAVINGS
4000-1956-2900         SAVINGS              0                                            SAVINGS
4000-1956-2900         SAVINGS              0                                            SAVINGS
4000-1956-2900         SAVINGS              0                                            SAVINGS
4000-1956-3401         SAVINGS              8000
4000-1956-3401         SAVINGS              8000
4000-1956-3401         SAVINGS              8000
4000-1956-3456         SAVINGS              -2000                                        SAVINGS
4000-1956-3456         SAVINGS              -2000                                        SAVINGS
4000-1956-3456         SAVINGS              -2000                                        SAVINGS
4000-1956-5102         SAVINGS              -6500
4000-1956-5102         SAVINGS              -6500
4000-1956-5102         SAVINGS              -6500
4000-1956-5698         SAVINGS              -9000
4000-1956-5698         SAVINGS              -9000
4000-1956-5698         SAVINGS              -9000
4000-1956-9977         RECURRING DEPOSITS   10000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   20000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   40000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   49000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   50000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   60000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   10000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   20000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   40000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   49000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   50000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   60000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   10000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   20000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   40000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   49000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   50000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   60000              5000-1700-9800            RECURRING DEPOSITS
5000-1700-3456         RECURRING DEPOSITS   0                  4000-1956-3456            RECURRING DEPOSITS
5000-1700-3456         RECURRING DEPOSITS   0                  4000-1956-3456            RECURRING DEPOSITS
5000-1700-3456         RECURRING DEPOSITS   0                  4000-1956-3456            RECURRING DEPOSITS
5000-1700-5001         RECURRING DEPOSITS   0                  4000-1956-2001            RECURRING DEPOSITS
5000-1700-5001         RECURRING DEPOSITS   0                  4000-1956-2001            RECURRING DEPOSITS
5000-1700-5001         RECURRING DEPOSITS   0                  4000-1956-2001            RECURRING DEPOSITS
5000-1700-6091         RECURRING DEPOSITS   40000              4000-1956-2900            RECURRING DEPOSITS
5000-1700-6091         RECURRING DEPOSITS   40000              4000-1956-2900            RECURRING DEPOSITS
5000-1700-6091         RECURRING DEPOSITS   40000              4000-1956-2900            RECURRING DEPOSITS
5000-1700-7755         SAVINGS              0
5000-1700-7755         SAVINGS              0
5000-1700-7755         SAVINGS              0
5000-1700-9800         SAVINGS              0                                            SAVINGS
5000-1700-9800         SAVINGS              0                                            SAVINGS
5000-1700-9800         SAVINGS              0                                            SAVINGS
5800-1700-9800-7755    Credit Card          -9000              4000-1956-5698            Credit Card
5800-1700-9800-7755    Credit Card          -9000              4000-1956-5698            Credit Card
5800-1700-9800-7755    Credit Card          -9000              4000-1956-5698            Credit Card
5890-1970-7706-8912    Add-on Credit Card   -11000             5800-1700-9800-7755       Add-on Credit Card
5890-1970-7706-8912    Add-on Credit Card   -11000             5800-1700-9800-7755       Add-on Credit Card
5890-1970-7706-8912    Add-on Credit Card   -11000             5800-1700-9800-7755       Add-on Credit Card
5900-1900-9877-5543    Add-on Credit Card   0                  9000-1700-7777-4321       Add-on Credit Card
5900-1900-9877-5543    Add-on Credit Card   0                  9000-1700-7777-4321       Add-on Credit Card
5900-1900-9877-5543    Add-on Credit Card   0                  9000-1700-7777-4321       Add-on Credit Card
9000-1700-7777-4321    Credit Card          -8000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -5000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -2500              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -8000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -5000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -2500              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -8000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -5000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -2500              5000-1700-9800            Credit Card

9(a) Display records of All Accounts , their Account_types, the transaction amount.

In [ ]:
# Q9 (a): All Accounts, their Account_types, and the transaction amount
query = """
SELECT
    a.Account_Number,
    a.Account_type,
    t.Transaction_amount
FROM Bank_Account_Details a
LEFT JOIN BANK_ACCOUNT_TRANSACTION t
    ON a.Account_Number = t.Account_Number
ORDER BY a.Account_Number, t.Transaction_Date;
"""

cursor.execute(query)

# Headers
columns = [desc[0] for desc in cursor.description]
print("{:<22} {:<20} {:<18}".format(*columns))
print("-" * 70)

# Rows
for row in cursor.fetchall():
    acc_no = row[0]
    acc_type = row[1]
    txn_amt = 0 if row[2] is None else row[2]
    print("{:<22} {:<20} {:<18}".format(acc_no, acc_type, txn_amt))

account_number         account_type         Transaction_amount
----------------------------------------------------------------------
4000-1956-2001         SAVINGS              -1600
4000-1956-2001         SAVINGS              -1600
4000-1956-2001         SAVINGS              -1600
4000-1956-2001         SAVINGS              -4000
4000-1956-2001         SAVINGS              -4000
4000-1956-2001         SAVINGS              -4000
4000-1956-2001         SAVINGS              23000
4000-1956-2001         SAVINGS              23000
4000-1956-2001         SAVINGS              23000
4000-1956-2001         SAVINGS              -6000
4000-1956-2001         SAVINGS              -6000
4000-1956-2001         SAVINGS              -6000
4000-1956-2001         SAVINGS              -3000
4000-1956-2001         SAVINGS              -3000
4000-1956-2001         SAVINGS              -3000
4000-1956-2900         SAVINGS              0
4000-1956-2900         SAVINGS              0
4000-1956-2900         SAVINGS              0
4000-1956-3401         SAVINGS              8000
4000-1956-3401         SAVINGS              8000
4000-1956-3401         SAVINGS              8000
4000-1956-3456         SAVINGS              -2000
4000-1956-3456         SAVINGS              -2000
4000-1956-3456         SAVINGS              -2000
4000-1956-5102         SAVINGS              -6500
4000-1956-5102         SAVINGS              -6500
4000-1956-5102         SAVINGS              -6500
4000-1956-5698         SAVINGS              -9000
4000-1956-5698         SAVINGS              -9000
4000-1956-5698         SAVINGS              -9000
4000-1956-9977         RECURRING DEPOSITS   50000
4000-1956-9977         RECURRING DEPOSITS   50000
4000-1956-9977         RECURRING DEPOSITS   50000
4000-1956-9977         RECURRING DEPOSITS   10000
4000-1956-9977         RECURRING DEPOSITS   10000
4000-1956-9977         RECURRING DEPOSITS   10000
4000-1956-9977         RECURRING DEPOSITS   40000
4000-1956-9977         RECURRING DEPOSITS   40000
4000-1956-9977         RECURRING DEPOSITS   40000
4000-1956-9977         RECURRING DEPOSITS   20000
4000-1956-9977         RECURRING DEPOSITS   20000
4000-1956-9977         RECURRING DEPOSITS   20000
4000-1956-9977         RECURRING DEPOSITS   60000
4000-1956-9977         RECURRING DEPOSITS   60000
4000-1956-9977         RECURRING DEPOSITS   60000
4000-1956-9977         RECURRING DEPOSITS   49000
4000-1956-9977         RECURRING DEPOSITS   49000
4000-1956-9977         RECURRING DEPOSITS   49000
5000-1700-3456         RECURRING DEPOSITS   0
5000-1700-3456         RECURRING DEPOSITS   0
5000-1700-3456         RECURRING DEPOSITS   0
5000-1700-5001         RECURRING DEPOSITS   0
5000-1700-5001         RECURRING DEPOSITS   0
5000-1700-5001         RECURRING DEPOSITS   0
5000-1700-6091         RECURRING DEPOSITS   40000
5000-1700-6091         RECURRING DEPOSITS   40000
5000-1700-6091         RECURRING DEPOSITS   40000
5000-1700-7755         SAVINGS              0
5000-1700-7755         SAVINGS              0
5000-1700-7755         SAVINGS              0
5000-1700-9800         SAVINGS              0
5000-1700-9800         SAVINGS              0
5000-1700-9800         SAVINGS              0
5800-1700-9800-7755    Credit Card          -9000
5800-1700-9800-7755    Credit Card          -9000
5800-1700-9800-7755    Credit Card          -9000
5890-1970-7706-8912    Add-on Credit Card   -11000
5890-1970-7706-8912    Add-on Credit Card   -11000
5890-1970-7706-8912    Add-on Credit Card   -11000
5900-1900-9877-5543    Add-on Credit Card   0
5900-1900-9877-5543    Add-on Credit Card   0
5900-1900-9877-5543    Add-on Credit Card   0
9000-1700-7777-4321    Credit Card          -5000
9000-1700-7777-4321    Credit Card          -5000
9000-1700-7777-4321    Credit Card          -5000
9000-1700-7777-4321    Credit Card          -8000
9000-1700-7777-4321    Credit Card          -8000
9000-1700-7777-4321    Credit Card          -8000
9000-1700-7777-4321    Credit Card          -2500
9000-1700-7777-4321    Credit Card          -2500
9000-1700-7777-4321    Credit Card          -2500

9(b) Along with first step, Display other columns with corresponding linking account number, account types

In [ ]:
# Q9 (b): Accounts + transaction amount + linked account number & type
query = """
SELECT
    a.Account_Number,
    a.Account_type,
    t.Transaction_amount,
    r.Linking_Account_Number,
    r.Account_type AS linked_account_type
FROM Bank_Account_Details a
LEFT JOIN BANK_ACCOUNT_TRANSACTION t
    ON a.Account_Number = t.Account_Number
LEFT JOIN Bank_Account_Relationship_Details r
    ON a.Account_Number = r.Account_Number
ORDER BY a.Account_Number;
"""

cursor.execute(query)

# Headers
columns = [desc[0] for desc in cursor.description]
print("{:<22} {:<20} {:<18} {:<25} {:<20}".format(*columns))
print("-" * 110)

# Rows
for row in cursor.fetchall():
    acc_no = row[0]
    acc_type = row[1]
    txn_amt = 0 if row[2] is None else row[2]
    link_acc = row[3] if row[3] else ""
    link_type = row[4] if row[4] else ""
    print("{:<22} {:<20} {:<18} {:<25} {:<20}".format(
        acc_no, acc_type, txn_amt, link_acc, link_type
    ))

account_number         account_type         Transaction_amount Linking_Account_Number    linked_account_type
--------------------------------------------------------------------------------------------------------------
4000-1956-2001         SAVINGS              -6000                                        SAVINGS
4000-1956-2001         SAVINGS              -4000                                        SAVINGS
4000-1956-2001         SAVINGS              -3000                                        SAVINGS
4000-1956-2001         SAVINGS              -1600                                        SAVINGS
4000-1956-2001         SAVINGS              23000                                        SAVINGS
4000-1956-2001         SAVINGS              -6000                                        SAVINGS
4000-1956-2001         SAVINGS              -4000                                        SAVINGS
4000-1956-2001         SAVINGS              -3000                                        SAVINGS
4000-1956-2001         SAVINGS              -1600                                        SAVINGS
4000-1956-2001         SAVINGS              23000                                        SAVINGS
4000-1956-2001         SAVINGS              -6000                                        SAVINGS
4000-1956-2001         SAVINGS              -4000                                        SAVINGS
4000-1956-2001         SAVINGS              -3000                                        SAVINGS
4000-1956-2001         SAVINGS              -1600                                        SAVINGS
4000-1956-2001         SAVINGS              23000                                        SAVINGS
4000-1956-2900         SAVINGS              0                                            SAVINGS
4000-1956-2900         SAVINGS              0                                            SAVINGS
4000-1956-2900         SAVINGS              0                                            SAVINGS
4000-1956-3401         SAVINGS              8000
4000-1956-3401         SAVINGS              8000
4000-1956-3401         SAVINGS              8000
4000-1956-3456         SAVINGS              -2000                                        SAVINGS
4000-1956-3456         SAVINGS              -2000                                        SAVINGS
4000-1956-3456         SAVINGS              -2000                                        SAVINGS
4000-1956-5102         SAVINGS              -6500
4000-1956-5102         SAVINGS              -6500
4000-1956-5102         SAVINGS              -6500
4000-1956-5698         SAVINGS              -9000
4000-1956-5698         SAVINGS              -9000
4000-1956-5698         SAVINGS              -9000
4000-1956-9977         RECURRING DEPOSITS   10000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   20000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   40000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   49000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   50000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   60000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   10000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   20000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   40000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   49000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   50000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   60000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   10000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   20000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   40000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   49000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   50000              5000-1700-9800            RECURRING DEPOSITS
4000-1956-9977         RECURRING DEPOSITS   60000              5000-1700-9800            RECURRING DEPOSITS
5000-1700-3456         RECURRING DEPOSITS   0                  4000-1956-3456            RECURRING DEPOSITS
5000-1700-3456         RECURRING DEPOSITS   0                  4000-1956-3456            RECURRING DEPOSITS
5000-1700-3456         RECURRING DEPOSITS   0                  4000-1956-3456            RECURRING DEPOSITS
5000-1700-5001         RECURRING DEPOSITS   0                  4000-1956-2001            RECURRING DEPOSITS
5000-1700-5001         RECURRING DEPOSITS   0                  4000-1956-2001            RECURRING DEPOSITS
5000-1700-5001         RECURRING DEPOSITS   0                  4000-1956-2001            RECURRING DEPOSITS
5000-1700-6091         RECURRING DEPOSITS   40000              4000-1956-2900            RECURRING DEPOSITS
5000-1700-6091         RECURRING DEPOSITS   40000              4000-1956-2900            RECURRING DEPOSITS
5000-1700-6091         RECURRING DEPOSITS   40000              4000-1956-2900            RECURRING DEPOSITS
5000-1700-7755         SAVINGS              0
5000-1700-7755         SAVINGS              0
5000-1700-7755         SAVINGS              0
5000-1700-9800         SAVINGS              0                                            SAVINGS
5000-1700-9800         SAVINGS              0                                            SAVINGS
5000-1700-9800         SAVINGS              0                                            SAVINGS
5800-1700-9800-7755    Credit Card          -9000              4000-1956-5698            Credit Card
5800-1700-9800-7755    Credit Card          -9000              4000-1956-5698            Credit Card
5800-1700-9800-7755    Credit Card          -9000              4000-1956-5698            Credit Card
5890-1970-7706-8912    Add-on Credit Card   -11000             5800-1700-9800-7755       Add-on Credit Card
5890-1970-7706-8912    Add-on Credit Card   -11000             5800-1700-9800-7755       Add-on Credit Card
5890-1970-7706-8912    Add-on Credit Card   -11000             5800-1700-9800-7755       Add-on Credit Card
5900-1900-9877-5543    Add-on Credit Card   0                  9000-1700-7777-4321       Add-on Credit Card
5900-1900-9877-5543    Add-on Credit Card   0                  9000-1700-7777-4321       Add-on Credit Card
5900-1900-9877-5543    Add-on Credit Card   0                  9000-1700-7777-4321       Add-on Credit Card
9000-1700-7777-4321    Credit Card          -8000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -5000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -2500              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -8000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -5000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -2500              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -8000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -5000              5000-1700-9800            Credit Card
9000-1700-7777-4321    Credit Card          -2500              5000-1700-9800            Credit Card

9(c) After retrieving all records of accounts and their linked accounts, display the   transaction amount of accounts appeared  in another column.(26 Rows)

In [ ]:
# Q9 (c): Accounts + their txns + linked accounts + linked accounts' txns
query = """
SELECT
    a.Account_Number,
    a.Account_type,
    t1.Transaction_amount AS account_transaction_amount,
    r.Linking_Account_Number,
    r.Account_type AS linked_account_type,
    t2.Transaction_amount AS linked_account_transaction_amount
FROM Bank_Account_Details a
LEFT JOIN Bank_Account_Relationship_Details r
    ON a.Account_Number = r.Account_Number
LEFT JOIN BANK_ACCOUNT_TRANSACTION t1
    ON a.Account_Number = t1.Account_Number
LEFT JOIN BANK_ACCOUNT_TRANSACTION t2
    ON r.Linking_Account_Number = t2.Account_Number
ORDER BY a.Account_Number;
"""

cursor.execute(query)

# Headers
columns = [desc[0] for desc in cursor.description]
print("{:<22} {:<20} {:<28} {:<25} {:<22} {:<30}".format(*columns))
print("-" * 140)

# Rows
for row in cursor.fetchall():
    acc_no = row[0]
    acc_type = row[1]
    acc_txn = 0 if row[2] is None else row[2]
    link_acc = row[3] if row[3] else ""
    link_type = row[4] if row[4] else ""
    link_txn = 0 if row[5] is None else row[5]
    print("{:<22} {:<20} {:<28} {:<25} {:<22} {:<30}".format(
        acc_no, acc_type, acc_txn, link_acc, link_type, link_txn
    ))

account_number         account_type         account_transaction_amount   Linking_Account_Number    linked_account_type    linked_account_transaction_amount
--------------------------------------------------------------------------------------------------------------------------------------------
4000-1956-2001         SAVINGS              -6000                                                  SAVINGS                0
4000-1956-2001         SAVINGS              -4000                                                  SAVINGS                0
4000-1956-2001         SAVINGS              -3000                                                  SAVINGS                0
4000-1956-2001         SAVINGS              -1600                                                  SAVINGS                0
4000-1956-2001         SAVINGS              23000                                                  SAVINGS                0
4000-1956-2001         SAVINGS              -6000                                                  SAVINGS                0
4000-1956-2001         SAVINGS              -4000                                                  SAVINGS                0
4000-1956-2001         SAVINGS              -3000                                                  SAVINGS                0
4000-1956-2001         SAVINGS              -1600                                                  SAVINGS                0
4000-1956-2001         SAVINGS              23000                                                  SAVINGS                0
4000-1956-2001         SAVINGS              -6000                                                  SAVINGS                0
4000-1956-2001         SAVINGS              -4000                                                  SAVINGS                0
4000-1956-2001         SAVINGS              -3000                                                  SAVINGS                0
4000-1956-2001         SAVINGS              -1600                                                  SAVINGS                0
4000-1956-2001         SAVINGS              23000                                                  SAVINGS                0
4000-1956-2900         SAVINGS              0                                                      SAVINGS                0
4000-1956-2900         SAVINGS              0                                                      SAVINGS                0
4000-1956-2900         SAVINGS              0                                                      SAVINGS                0
4000-1956-3401         SAVINGS              8000                                                                          0
4000-1956-3401         SAVINGS              8000                                                                          0
4000-1956-3401         SAVINGS              8000                                                                          0
4000-1956-3456         SAVINGS              -2000                                                  SAVINGS                0
4000-1956-3456         SAVINGS              -2000                                                  SAVINGS                0
4000-1956-3456         SAVINGS              -2000                                                  SAVINGS                0
4000-1956-5102         SAVINGS              -6500                                                                         0
4000-1956-5102         SAVINGS              -6500                                                                         0
4000-1956-5102         SAVINGS              -6500                                                                         0
4000-1956-5698         SAVINGS              -9000                                                                         0
4000-1956-5698         SAVINGS              -9000                                                                         0
4000-1956-5698         SAVINGS              -9000                                                                         0
4000-1956-9977         RECURRING DEPOSITS   10000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   20000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   40000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   49000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   50000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   60000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   10000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   20000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   40000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   49000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   50000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   60000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   10000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   20000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   40000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   49000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   50000                        5000-1700-9800            RECURRING DEPOSITS     0
4000-1956-9977         RECURRING DEPOSITS   60000                        5000-1700-9800            RECURRING DEPOSITS     0
5000-1700-3456         RECURRING DEPOSITS   0                            4000-1956-3456            RECURRING DEPOSITS     -2000
5000-1700-3456         RECURRING DEPOSITS   0                            4000-1956-3456            RECURRING DEPOSITS     -2000
5000-1700-3456         RECURRING DEPOSITS   0                            4000-1956-3456            RECURRING DEPOSITS     -2000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -6000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -4000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -3000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -1600
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     23000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -6000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -4000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -3000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -1600
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     23000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -6000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -4000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -3000
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     -1600
5000-1700-5001         RECURRING DEPOSITS   0                            4000-1956-2001            RECURRING DEPOSITS     23000
5000-1700-6091         RECURRING DEPOSITS   40000                        4000-1956-2900            RECURRING DEPOSITS     0
5000-1700-6091         RECURRING DEPOSITS   40000                        4000-1956-2900            RECURRING DEPOSITS     0
5000-1700-6091         RECURRING DEPOSITS   40000                        4000-1956-2900            RECURRING DEPOSITS     0
5000-1700-7755         SAVINGS              0                                                                             0
5000-1700-7755         SAVINGS              0                                                                             0
5000-1700-7755         SAVINGS              0                                                                             0
5000-1700-9800         SAVINGS              0                                                      SAVINGS                0
5000-1700-9800         SAVINGS              0                                                      SAVINGS                0
5000-1700-9800         SAVINGS              0                                                      SAVINGS                0
5800-1700-9800-7755    Credit Card          -9000                        4000-1956-5698            Credit Card            -9000
5800-1700-9800-7755    Credit Card          -9000                        4000-1956-5698            Credit Card            -9000
5800-1700-9800-7755    Credit Card          -9000                        4000-1956-5698            Credit Card            -9000
5890-1970-7706-8912    Add-on Credit Card   -11000                       5800-1700-9800-7755       Add-on Credit Card     -9000
5890-1970-7706-8912    Add-on Credit Card   -11000                       5800-1700-9800-7755       Add-on Credit Card     -9000
5890-1970-7706-8912    Add-on Credit Card   -11000                       5800-1700-9800-7755       Add-on Credit Card     -9000
5900-1900-9877-5543    Add-on Credit Card   0                            9000-1700-7777-4321       Add-on Credit Card     -8000
5900-1900-9877-5543    Add-on Credit Card   0                            9000-1700-7777-4321       Add-on Credit Card     -5000
5900-1900-9877-5543    Add-on Credit Card   0                            9000-1700-7777-4321       Add-on Credit Card     -2500
5900-1900-9877-5543    Add-on Credit Card   0                            9000-1700-7777-4321       Add-on Credit Card     -8000
5900-1900-9877-5543    Add-on Credit Card   0                            9000-1700-7777-4321       Add-on Credit Card     -5000
5900-1900-9877-5543    Add-on Credit Card   0                            9000-1700-7777-4321       Add-on Credit Card     -2500
5900-1900-9877-5543    Add-on Credit Card   0                            9000-1700-7777-4321       Add-on Credit Card     -8000
5900-1900-9877-5543    Add-on Credit Card   0                            9000-1700-7777-4321       Add-on Credit Card     -5000
5900-1900-9877-5543    Add-on Credit Card   0                            9000-1700-7777-4321       Add-on Credit Card     -2500
9000-1700-7777-4321    Credit Card          -8000                        5000-1700-9800            Credit Card            0
9000-1700-7777-4321    Credit Card          -5000                        5000-1700-9800            Credit Card            0
9000-1700-7777-4321    Credit Card          -2500                        5000-1700-9800            Credit Card            0
9000-1700-7777-4321    Credit Card          -8000                        5000-1700-9800            Credit Card            0
9000-1700-7777-4321    Credit Card          -5000                        5000-1700-9800            Credit Card            0
9000-1700-7777-4321    Credit Card          -2500                        5000-1700-9800            Credit Card            0
9000-1700-7777-4321    Credit Card          -8000                        5000-1700-9800            Credit Card            0
9000-1700-7777-4321    Credit Card          -5000                        5000-1700-9800            Credit Card            0
9000-1700-7777-4321    Credit Card          -2500                        5000-1700-9800            Credit Card            0

10) Display all saving account holders have Add-on Credit Cards" and Credit cards" (3 Rows)

In [ ]:
# Q10: Customers who have Savings + Credit Card + Add-on Credit Card
query = """
SELECT DISTINCT
    c.customer_id,
    c.customer_name,
    a.Account_Number AS savings_account,
    cc.Account_Number AS credit_card,
    acc.Account_Number AS addon_credit_card
FROM BANK_CUSTOMER c

-- Savings accounts
JOIN Bank_Account_Details a
    ON c.customer_id = a.Customer_id
    AND a.Account_type = 'SAVINGS'

-- Credit Card accounts
JOIN Bank_Account_Details cc
    ON c.customer_id = cc.Customer_id
    AND cc.Account_type = 'Credit Card'

-- Add-on Credit Card accounts
JOIN Bank_Account_Details acc
    ON c.customer_id = acc.Customer_id
    AND acc.Account_type = 'Add-on Credit Card'

ORDER BY c.customer_id;
"""

cursor.execute(query)

# Fetch columns
columns = [desc[0] for desc in cursor.description]

# Print header
print("{:<12} {:<15} {:<20} {:<20} {:<25}".format(*columns))
print("-" * 95)

# Print rows
for row in cursor.fetchall():
    print("{:<12} {:<15} {:<20} {:<20} {:<25}".format(*row))

customer_id  customer_name   savings_account      credit_card          addon_credit_card
-----------------------------------------------------------------------------------------------
123006       Noah            4000-1956-5698       5800-1700-9800-7755  5890-1970-7706-8912
123007       Charlie         5000-1700-9800       9000-1700-7777-4321  5900-1900-9877-5543

11 .Display  records of SAVINGS account linked with Credit cards" account_type and its credit
-->aggregate sum of transaction amount. (1 Row)
-->Ref: Check linking relationship in bank_transaction_relationship_details.
--> Check transaction_amount in bank_account_transaction.

In [ ]:
# Q11: SAVINGS accounts linked with Credit Cards and aggregate sum of their transaction amount
query = """
SELECT
    s.Customer_id,
    s.Account_Number      AS savings_account,
    cc.Account_Number     AS credit_card_account,
    SUM(t.Transaction_amount) AS credit_aggregate_sum
FROM Bank_Account_Relationship_Details s
JOIN Bank_Account_Relationship_Details cc
    ON cc.Linking_Account_Number = s.Account_Number
   AND cc.Account_type = 'Credit Card'
LEFT JOIN BANK_ACCOUNT_TRANSACTION t
    ON t.Account_Number = cc.Account_Number
WHERE s.Account_type = 'SAVINGS'
GROUP BY
    s.Customer_id,
    s.Account_Number,
    cc.Account_Number;
"""

cursor.execute(query)

# Fetch columns
columns = [desc[0] for desc in cursor.description]

# Print header
print("{:<12} {:<20} {:<22} {:<25}".format(*columns))
print("-" * 85)

# Print rows
for row in cursor.fetchall():
    cust_id = row[0]
    sav_acc = row[1]
    cc_acc = row[2]
    agg_sum = 0 if row[3] is None else row[3]
    print("{:<12} {:<20} {:<22} {:<25.2f}".format(cust_id, sav_acc, cc_acc, agg_sum))

Customer_id  savings_account      credit_card_account    credit_aggregate_sum
-------------------------------------------------------------------------------------
123007       5000-1700-9800       9000-1700-7777-4321    -15500.00